
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="container">
    <div class="jumbotron">
        @Session["Ad"] @Session["Soyad"] Hoş Geldiniz!
    </div>
</div>

